.Container {
  bottom: 0;
  width: 100%;
}

.UpBtn {
  background-color: #ffffff;
  text-align: center;
  font-size: 2em;
  padding-bottom: 1%;
}

.FooterWrap {
  background-color: #242020;
  height: 100%;
}

.UpIcon:hover {
  font-size: 30px;
}

.UpIcon {
  color: rgb(0, 0, 0);
  vertical-align: bottom;
}

/* footer내용 */

.Content {
  /* margin: 0 10% 0 25%; */
  /* padding: 2% 0 1% 0; */
  width: 100%;
  justify-content: center;
  display: flex;
}

.Title {
  color: rgb(255, 255, 255);
  font-size: large;
  line-height: 2em;
}

.TextWrap {
  padding: 0 2% 1.5% 2%;
  /* float: left; */
  text-align: center;
  vertical-align: super;
  color: rgb(255, 255, 255);
  font-size: small;
}

/* .TextWrap:last-child {
    float: none;
  } */

.FooterText {
  color: rgb(0, 0, 0);
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
}
