* {
  margin: 0;
  padding: 0;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

점들 .slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/* =========================================== */
body {
  display: block;
  width: 100%;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  position: relative;
  /* background: #333; */
  overflow-x: hidden;
}

.slider_title {
  font-size: 3vw;
  color: gray;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2vw;
}

.card-wrapper {
  position: relative;
  width: 100%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card-wrapper:active,
.card-wrapper:hover,
.card-wrapper:focus {
  outline: none;
  border: none;
}

.card {
  width: 100%;
  height: 450px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.card .card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card:hover img {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .card-image {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  position: relative;
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  /* background: gray; */
  font-size: 23px;
  color: #333;
  font-weight: bold;
  margin: 0 6px;
  -webkit-transition: 0.4s;
  transition: 0.9s;
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  opacity: 0;
}

.card:hover .social-icons li a {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  text-decoration: none;
}

.social-icons li a:hover {
  /* background: rgb(89, 77, 253); */
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.social-icons li a:hover .fa {
  color: #fff;
}

.social-icons li a .fa {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.social-icons li a .fa:hover {
  /* 문구 마우스 오버시 색, 동작 */
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  color: rgb(0, 0, 0);
}

.card:hover li:nth-child(1) a {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.card:hover li:nth-child(2) a {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.card:hover li:nth-child(3) a {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.card:hover li:nth-child(4) a {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.details {
  position: absolute;
  bottom: 400px;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.details h2 {
  margin: 30px 0;
  padding: 0;
  text-align: center;
}

.details h2 .job-title {
  font-size: 16px;
  line-height: 2;
  color: #333;
  font-weight: 300;
  display: block;
}

.card:hover .details {
  bottom: 0;
}

.carousel .slick-dots {
  bottom: -2.5vw;
}

.carousel .slick-dots li button {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.carousel .slick-dots li button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  content: "";
  text-align: center;
  opacity: 0.5;
  color: #000;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.carousel .slick-prev,
.carousel .slick-next {
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.carousel .slick-prev:hover,
.carousel .slick-prev:focus,
.carousel .slick-next:hover,
.carousel .slick-next:focus {
  color: #fff;
  outline: none;
  background: #fff;
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
  color: #000;
  font-family: "Raleway", sans-serif;
}

.carousel .slick-next {
  right: -55px;
}

.carousel .slick-prev {
  left: -55px;
}

/* ============여기서부터 그냥 CSS */
.test {
  align-items: center;
  background-color: aquamarine;
  justify-content: center;
  text-align: center;
  display: flex;
}
