.containerBox{
    height: 80vh;
    --bs-bg-opacity: .8
   
  
  }

.containerBox2{
  --bs-bg-opacity: .8
}

.press_btn { 
  background: rgb(59, 42, 57) !important;
  color: #fff !important;
  font-weight: bold;
}
