html, body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  background-repeat: no-repeat;
  background: linear-gradient( to top left, rgb(44, 58, 97), rgb(192, 112, 125)) fixed;

}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
