
body{
    background: linear-gradient( to top left, rgb(44, 58, 97), rgb(192, 112, 125));
}


.font-500{
	font-weight:500;	
}


.press_btn { 
    background: rgb(59, 42, 57) !important;
    color: #fff !important;
    font-weight: bold;
}

.arrow{
    color:gray;
    font-weight: bold;
}


